 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-image-1 {
  width: 165px;
  height: 165px;
  margin: 164px auto 0;
}

.u-section-1 .u-text-1 {
  background-image: none;
  font-size: 4.0625rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 53px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 92px 0 0;
}

.u-section-1 .u-form-1 {
  height: 56px;
  width: 549px;
  margin: 19px auto 0;
}

.u-section-1 .u-input-1 {
  font-size: 1.25rem;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 1.25rem;
}

.u-section-1 .u-image-2 {
  width: 147px;
  height: 147px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -10px auto 0;
}

.u-section-1 .u-image-3 {
  width: 48px;
  height: 48px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -97px auto 0 409px;
}

.u-section-1 .u-image-4 {
  width: 48px;
  height: 48px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -48px auto 60px 683px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-2 {
    margin-left: 303px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 315px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 589px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    margin-top: -35px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 143px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 266px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 529px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-top: 195px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 80px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -467px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
    margin-top: -87px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 38px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -250px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 492px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    margin-top: 221px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-2 {
    margin-top: -320px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
    margin-top: 60px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 292px;
  }
}

.u-section-1 .u-image-2,
.u-section-1 .u-image-2:before,
.u-section-1 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-2.u-image-2.u-image-2:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-2.u-image-2.u-image-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-container-layout:hover .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-3,
.u-section-1 .u-image-3:before,
.u-section-1 .u-image-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-3.u-image-3.u-image-3:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-3.u-image-3.u-image-3.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-container-layout:hover .u-image-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-image-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-4,
.u-section-1 .u-image-4:before,
.u-section-1 .u-image-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-4.u-image-4.u-image-4:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-4.u-image-4.u-image-4.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-container-layout:hover .u-image-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-image-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}